# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s.split()

In [ ]:
...  ['Hi', 'there', 'sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print('The diameter of {} is {} kilometers.' . format(planet,diameter));

In [ ]:
The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

In [ ]:
...  'hello'

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
0 = np.zeros(10)

In [ ]:
0

In [ ]:
...   array ([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
b = np.ones(10)*5
b

In [ ]:
...  array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
c = np.arange(0,9),reshape(3,3)

In [ ]:
c

...  array([[0, 1 ,2]),
            [3, 4, 5],
            [6, 7 ,8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.concatenate((a,b),axis=0)

In [ ]:
...   array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
d = {"fruits":["mango","orange","apple"],"color":["yellow","orange","red"]}
df = pd.DataFrame(d)
df

In [ ]:
fruits  color
0  mango  yellow
1  orange orange
2  apple     red

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
p = pd.date_range(start='1-1-2023',end='10-2-2023')
 for val in p:
    print(val);

In [ ]:
...  output exceeds the size limit- Open the full output data in a text editor
     2023-01-01  00:00:00
     2023-01-02  00:00:00
     2023-01-03  00:00:00
     2023-01-04  00:00:00
     2023-01-05  00:00:00
     2023-01-06  00:00:00
     2023-01-07  00:00:00
     2023-01-08  00:00:00
     2023-01-09  00:00:00
     2023-01-10  00:00:00
     2023-01-11  00:00:00
     2023-01-12  00:00:00
     2023-01-13  00:00:00
     2023-01-14  00:00:00
     2023-01-15  00:00:00
     2023-01-16  00:00:00
     2023-01-17  00:00:00
     2023-01-18  00:00:00
     2023-01-19  00:00:00
     2023-01-20  00:00:00
     2023-01-21  00:00:00
     2023-01-22  00:00:00
     2023-01-23  00:00:00
     2023-01-24  00:00:00
     2023-01-25  00:00:00
     ...
     2023-09-29  00:00:00
     2023-09-30  00:00:00
     2023-10-01  00:00:00
     2023-10-02  00:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
for i in range(len(lists)):
    print(list[i])

In [ ]:
df = pd.DataFrame(lists)
df

In [ ]:
...  0   1   2
 0  1  aaa  22
 1  2  bbb  25
 2  3  ccc  24